#layoutBacker.show {
	display: block;
}

#closeLayouts {
	position: absolute;
	top: 155px;
	right: 195px;
	font-size: 30px;
	text-decoration: none;
	color: red;
}

#profileManagerContainer {
	width: 600px;
	margin: 150px auto;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	z-index: 100;
}

#profileSelect {
	margin-bottom: 15px;
}

.title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
	color: #555;
}

.input-text {
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: var(--ACSmallBorderRadius);
	outline: none;
	background: white;
	color: black;
	width: 250px;
	text-align: center;
}

.input-text:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#renameProfileInput, #profileName, #cancelBtn {
	display: none;
}

#renameProfileInput.show, #profileName.show, #cancelBtn.show {
	display: block;
}

.btn {
	display: block;
	position: relative;
	margin: 10px;
	white-space: nowrap;
}

.layoutGroup {
	flex-direction: column;
	display: flex;
	box-shadow: none;
	background: none;
	align-items: center;
}

.layoutRow {
	display: flex;
	box-shadow: none;
	background: none;
}

#profileModal {
	position: fixed;
	top: -100px;
	left: 50%;
	transform: translateX(-51%);
	padding: 15px 30px;
	font-size: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: top 0.4s ease-in-out, font-size 0.1s ease-in-out 0.3s;
	z-index: 99999;
}

#profileModal.profileAlert {
	transition: top 0.4s ease-in-out, font-size 0.1s ease-in-out;
	top: 5%;
	font-size: 18px;
}

.profileDropdown {
	position: absolute;
	display: inline-block;
	z-index: 1;
	white-space: nowrap;
	top: 10px;
	left: 200px;
	display: none;
	flex-direction: column;
	align-items: center;
	box-shadow: none;
}

.profileDropdown.show {
	z-index: 10;
}

.profileDropdownButton {
	font-size: 13px;
	color: var(--pageTextColor);
	cursor: pointer;
	background: none;
	border: none;
	box-shadow: none;
	z-index: 3;
	transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.profileDropdownButton:hover {
	background: color-mix(in srgb, var(--pageBackgroundColor) 90%, black 10%);
	box-shadow: 0 0 15px color-mix(in srgb, var(--pageBackgroundColor) 65%, black 35%);
}

.profileDropdownUL {
	position: absolute;
	top: 15px;
	left: 50%;
	list-style: none;
	padding: 0;
	margin: 0;
	opacity: 0;
	pointer-events: none;
  	background: none;
	box-shadow: none;
	transform: perspective(1800px) translateX(-50%) rotateX(-90deg) translateY(-10px) scale(0.8);
	transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out, background 0.2s ease-in-out;
}

.profileDropdown.show .profileDropdownUL {
	opacity: 1;
	pointer-events: auto;
	transform: perspective(1800px) translateX(-50%) rotateX(0deg) translateY(0px) scale(1);
	margin-top: 5px;
	
}

.profileDropdownUL li {
	font-size: 13px;
	color: var(--pageTextColor);
	cursor: pointer;
	text-align: center;
	background: var(--pageBackgroundColor);
	box-shadow: none;
	will-change: opacity, transform;
}

.profileDropdown.show .profileDropdownUL li {
	background: var(--pageBackgroundColor);
	border-right: 2px solid var(--accentColor);
	border-left: 2px solid var(--accentColor);
	padding: 10px;
	margin: 0;
	opacity: 1;
}

.profileDropdown.show .profileDropdownUL li:nth-child(1) { transition-delay: 0s, 0s, 0s; }
.profileDropdown.show .profileDropdownUL li:nth-child(2) { transition-delay: 0.03s, 0.03s, 0s; }
.profileDropdown.show .profileDropdownUL li:nth-child(3) { transition-delay: 0.06s, 0.06s, 0s; }
.profileDropdown.show .profileDropdownUL li:nth-child(4) { transition-delay: 0.09s, 0.09s, 0s; }
.profileDropdown.show .profileDropdownUL li:nth-child(5) { transition-delay: 0.12s, 0.12s, 0s; }
.profileDropdown.show .profileDropdownUL li:nth-child(6) { transition-delay: 0.15s, 0.15s, 0s; }

.profileDropdown.show .profileDropdownUL li:hover {
	background-color: color-mix(in srgb, var(--pageBackgroundColor) 85%, black 15%);
}