.hidden {
    display: none;
}

.loading-text {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    color: white;
    text-shadow: var(--text-outline);
	background: none;
	box-shadow: none;
}

.exit-effect {
    animation: blurAndFade 1.5s ease-in-out forwards;
}

.exit-fast {
    animation: quickFade 0.5s ease-in-out forwards;
}

#splashContainer {
    width: 100%;
    height: 100%;
    background-color: rgb(13, 39, 74);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
	align-items: flex-end;
}

#splashContainer.hidden {
    width: 0;
    height: 0;
    z-index: 0;
    display: flex;
}

#splashLogo {
	width: 70%;
	top: 25%;
	display: block;
	position: absolute;
	margin: auto;
	object-fit: contain;
}

#understand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 45px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	color: red;
	background: white;
	width: 60%;
	border-radius: 5px;
}

#understand:hover {
	background: rgba(0, 0, 0, 0.2);
}

#understand:active {
	background: rgba(0, 0, 0, 0.4);
}

#disclaimer {
	text-align: center;
	position: absolute;
	display: block;
	padding: 10px 10px;
	font-size: 12px;
	top: 910px;
	left: 0px;
	background: none;
	box-shadow: none;
	color: white;		
	cursor: pointer;
	z-index: 10;
}

#disclaimer:hover {
	color: rgb(200, 200, 200);
}

#disclaimer2 {
	margin: 0px;
	text-align: left;
	position: fixed;
	display: none;
	font-size: 14px;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgb(238, 238, 238);
	color: black;
	z-index: 999;
	cursor: pointer;
	padding: 25px 40px;
	border-radius: var(--ACLargeBorderRadius);
}

#disclaimer2 li {
	padding: 0px 10px;
	font-size: 14px;
	margin-bottom: 10px;
}

#disclaimer2 li::marker {
	color: var(--primary);
}

.top1 {
	text-align: center;
	margin: 5px 0;
}

.top1.mainCopy {
	font-size: 16px;
	font-weight: bold;
}

@keyframes blurAndFade {
	
    0% {
        opacity: 1;
        filter: none;
        z-index: 1000;
    }
    50% {
        opacity: 1;
        filter: blur(5px);
        z-index: 1000;
    }
    99% {
        opacity: 1;
        filter: blur(10px);
        z-index: 1000;
    }
    100% {
        opacity: 1;
        filter: blur(10px);
        z-index: -999999;
    }
}

@keyframes quickFade {
	
    0% {
        opacity: 1;
        filter: none;
        z-index: 1000;
    }
    99% {
        opacity: 0;
        filter: blur(5px);
        z-index: 1000;
    }
    100% {
        opacity: 1;
        filter: blur(10px);
        z-index: -999999;
    }
}