#authWrap {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(100% - 20px);
	height: calc(100% - 10px);
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 20px;
	top: 0;
	left: 0;
	border-radius: 20px;
	background: var(--primaryD);
	box-shadow: none;
	z-index: 6;
	border: 2px solid black;
	color: white;
}

#authWrap div {
	display: flex;
	background: none;
	box-shadow: none;
	justify-content: space-between;
	margin: 10px;
	font-size: 16px;
	width: 50%;
}
