#setMakerDiv.show {
	display: block;
}

#setMakerInnerDiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 25px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	align-items: center;
	z-index: 100;
}

.setMakerRow {
	display: flex;
	width: 96%;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px auto;
}

.setMakerRow div {
	width: 30%;
	text-align: center;
}

.flexGrow2 {
	flex-grow: 2;
}

#setMakerDiv select {
    max-width: 300px;
    margin-bottom: 10px;
}

#setMakerDiv .parentLabelPre {
	color: black;
}

.optionsDivs > label {
	margin-top: 10px;
}

.setOutputIP {
	width: 250px;
}

.setTypeClass {
	display: none;
}

.setTypeClassLabel {
	cursor: pointer;
}

.outputSelectionSpan {
	background: none;
	border-radius: 5px;
	outline: 1px solid white;
	color: white;
	font-size: 14px;
	padding: 3px 6px;
	border: none;
}

.setTypeClassLabel:has(input:checked) .outputSelectionSpan {
	background: white;
	color: var(--primary);
}

.editButtonTypeLabel:hover, .setTypeClassLabel:hover {
	background: rgba(0, 0, 0, 0.3); 
}

.editButtonTypeLabel:has(input:checked) .outputSelectionSpan {
	background: white;
	color: var(--primaryD);
}

#contentEditPage .outputSelectionSpan {
	outline: none;
}

.childField, .grandchildField {
    margin-bottom: 10px;
    padding: 10px;
}

.childField {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.childField.mainDiv {
	box-shadow: var(--ACInsetShadow), var(--ACSmallShadow);
}

.childCol {
	display: flex;
	flex-direction: column;
}

.childRow {
	display: flex;
	gap: 20px;
}

#setMakerDiv label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

#childConfig {
	width: 96%;
	margin: 10px auto;
}

.outputLabel {
	margin-top: 10px;
}

.centerWide {
	width: 45%;
    display: flex;
    justify-content: center;
}

.grandchildField {
	width: 40%;
	margin: 5px 0;
}

.grandChildRow {
	width: 100%;
	display: flex;
}

.grandChildCol {
	display: flex;
    background: var(--primary);
    color: white;
    border: 2px solid var(--primaryD);
    border-radius: var(--ACSmallBorderRadius);
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: var(--ACInsetShadow), var(--ACSmallShadow);
    width: 300px;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: visible;
	height: 177px;
}

.grandChildCol textarea, .setOutputTA {
	height: 75px;
}	

.grandChildCol input, .grandChildCol textarea, .setOutputTA {
	outline: none;
    padding: 5px;
    margin-top: 5px;
    border-radius: var(--ACSmallBorderRadius);
    border: 2px solid rgb(237, 237, 237);
    transition: box-shadow 0.2s ease-in-out, height 0.25s ease-in-out 0.1s;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.5);
    width: 276px;
}

.childRow.outputLabel.buttonOutputType {
	width: 276px;
	margin: 10px 0;
	height: 40px;
	align-items: baseline;
}

.childRow.outputLabel.buttonOutputType .outputSelectionSpan {
	background: none;
	border-radius: 5px;
	outline: 1px solid black;
	color: black;
	font-size: 14px;
	padding: 3px 6px;
	border: none;
}

.childRow.outputLabel.buttonOutputType .setTypeClassLabel:has(input:checked) .outputSelectionSpan {
	background: var(--primary);
	color: white;
}

.childRow.outputLabel.buttonOutputType .outputSelectionSpan:hover {
	background: rgba(0, 0, 0, 0.3); 
}

.grandChildCol:focus-within {
	outline: 2px solid rgba(0, 0, 0, 1);
    box-shadow: var(--ACMediumShadow);
    background: var(--primaryA);
    border: 2px solid rgba(255, 255, 255, 1);
}

.grandChildCol .fullWidth {
	width: 80%;
}

.fifty {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 25px;
}

#slideMakerOuter {
	display: none;
	position: absolute;
}

#slideMakerOuter.show {
	display: block;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 100;
	margin: 0;
	padding: 0;
	border: none;
	box-shadow: none;
}

#slideMakerDiv {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	height: 100%;
	background: rgb(238, 238, 238);
	border: 1px solid rgb(85, 85, 85);
	box-shadow: var(--ACInsetShadow), var(--ACLargeShadow);
	border-radius: var(--ACLargeBorderRadius);
	transition: all .2s ease-in-out;
	cursor: auto;
	font-size: 16px;
	z-index: 100;
	gap: 15px;
}

.customSlideWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
	padding-top: 10px;
    width: 100%;
    margin: 5px;
    background: var(--primary);
    color: white;
    border: 2px solid var(--primaryD);
    border-radius: var(--ACSmallBorderRadius);
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: var(--ACInsetShadow), var(--ACSmallShadow);
}

.customSlideChilds {
    color: white;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
	flex-wrap: wrap;
}

.customSlideChilds div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 32%;
	margin: 5px;
}

#slideMakerDiv .customSlideChilds div:focus-within input, #slideMakerDiv .customSlideChilds div:focus-within textarea, #slideMakerDiv #slideParentDiv:focus-within input {
	box-shadow: var(--ACLargeShadow);
}

#slideMakerDiv input {
    outline: none;
    padding: 5px;
    margin: 5px;
    border-radius: var(--ACSmallBorderRadius);
    border: 2px solid rgb(237, 237, 237);
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 276px;
}

#slideMakerDiv textarea {
    z-index: 0;
    outline: none;
    padding: 5px;
    margin-top: 5px;
    border-radius: var(--ACSmallBorderRadius);
    border: 2px solid rgb(237, 237, 237);
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 276px;
    margin-bottom: 10px;
    height: 80px;
}

.customSlideChilds div.buttonOutputType {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: fit-content;
}

.sliders {
}

#slideParentDiv {
	display: flex;
	align-items: center;
	flex-direction: column;
    width: 100%;
}

#slideParentDiv label {
	width: 100%;
	max-width: 276px;
}

#slideControlBtns {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-end;
    width: 100%;
	gap: 15px;
	margin: 10px;
}

.editButtonTypeRadio {
	display: none;
}

#typeEditor {
	display: flex;
	width: 90%;
	margin: 0 15px;
	align-items: center;
	justify-content: center;
	gap: 20px;
	background: var(--primaryD);
	outline: 1px solid white;
	padding: 10px;
	color: white;
	border-radius: var(--ACSmallBorderRadius);
}

.editButtonTypeLabel {
	cursor: pointer;
	background: none;
	border-radius: 5px;
	outline: 1px solid white;
	color: white;
	font-size: 14px;
	padding: 3px 6px;
	border: none;
}

.editButtonTypeLabel:has(input:checked) {
	background: white;
	color: var(--primaryD);
}