#welcomeBacker {
	background: rgba(0, 0, 0, 0.6);
	z-index: 11;
	display: none;
	align-items: center;
	justify-content: center;
}

#welcomeBacker.show {
	display: flex;
}

#tutorialHome {
	padding: 30px;
	background: var(--primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: white;
}

#tutorialHome .options p {
	margin-left: 40px;
}

#tutorialHome .options label {
	margin-bottom: 25px;
	display: block;
	cursor: pointer;
}

#inDepth, #quickIntro, #setupAssistant {
	height: 16px;
	width: 16px;
	cursor: pointer;
	margin: 5px;
}

.recommend {
	margin: 5px 0;
	font-size: 16px;
	color: rgb(240, 240, 240);
	font-style: italic;
}

#tutorialHome h1 {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center;
	color: white;
	border-bottom: 2px solid white;
	width: 100%;
}

#tutorialHome h2 {
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin: 0 auto;
}

#tutorialHome h3 {
	font-size: 18px;
	color: white;
	margin: 15px;
	text-align: center;
}

#declineTutorial {
	background: none;
	box-shadow: none;
	border: none;
	margin-left: auto;
	color: white;
	font-style: italic;
	transition: transform 0.2s ease-in-out;
	font-size: 15px;
	cursor: pointer;
}

#declineTutorial:hover {
	transform: scale(1.1);
}

#tutorialHint {
	display: flex;
	position: absolute;
	width: 350px;
	top: 180px;
	left: -360px;
	background: var(--primary);
	color: white;
	box-shadow: var(--ACInsetShadow), var(--ACMediumShadow);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: var(--ACLargeBorderRadius);
	padding: 10px;
	font-size: 16px;
	text-align: center;
	transition: left .2s ease-in-out;
	cursor: auto;
	z-index: 10;
}

#tutorialHint.show {
	left: 60px;
}

#hintArrow {
	font-size: 55px;
	margin: 0;
}

#quickIntroBacker {
	display: none;
}

#inDepthBacker {
	display: none;
}

.messageModule {
	position: absolute;
	padding: 30px;
	gap: 20px;
	background: var(--primary);
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	justify-content: center;
}

#quickStartTutorial {
	display: none;
	padding: 15px;
	padding-top: 0px;
	background: rgb(238, 238, 238);
	color: black;
}

#quickStartTutorial.show {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	width: 100%;
	height: 100%;
	align-items: center;
}

#quickStartTutorial h1.h1 {
	margin-bottom: 5px;
}

.quickCol {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
}

.quickColLeft .quickCol {
	width: 100%;
	align-items: flex-start;
}

.mainDiv.quickCol .quickCol.quickColLeft {
	align-items: flex-start;
	height: 100%;
	width: 100%;
	justify-content: flex-start;
	gap: 20px;
}

.tutorialType {
	font-weight: bold;
}

.quickRowOuter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-top: 25px;
	gap: 20px;
}

.quickRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	gap: 10px;
	align-items: center;
}

.quickColLeft .quickCol.tutorialImgDiv {
	width: auto;
	display: flex;
}

.quickColLeft .quickRow.tutorialImgDiv.editImageContainer {
	width: 100%;
	height: 250px;
	justify-content: space-evenly;
}

.quickCol img {
	height: auto;
	margin: 0 10px;
}

.tutorialImgDiv.editImageContainer .quickCol {
	height: 100%;
	align-items: center;
}

.quickRow .quickCol.quickSpace {
	gap: 10px;
}

.quickRow.quickSpace {
	gap: 10px;
}

#clipTutorial {
	width: 120px;
}

#soloTutorial {
	width: 120px;
}

#PopNote {
	width: 120px;
}

#slideDrop {
	width: 100px;
}

#setExplain {
	width: 100px;
}

#imgOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(238, 238, 238);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	cursor: pointer;
}

#fullImg {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 5px;
}

.quickCol.imageZoom {
	cursor: pointer;
}

#editButtonTutorial, #appearanceTutorial, #filesAndProfilesTutorial, #shortcutsTutorial {
	max-width: 100%;
	max-height: 100%;
	height: 200px;
	margin: 0 auto;
}

#doneQuickTutorial {
	position: absolute;
	min-width: 100px;
	bottom: 15px;
	right: 15px;
}

#inDepthTutorial {
	display: none;	
}

#inDepthTutorial.show {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 90%;
    padding: 20px;
    gap: 15px;
	background: var(--primary);
	color: white;
	box-shadow: var(--ACInsetShadow), var(--ACMediumShadow);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: var(--ACLargeBorderRadius);
	z-index: 10000;
}

#tutorialHeader {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 15px;
	text-align: center;
	color: white;
	border-bottom: 2px solid white;
	width: 70%;
	margin: 0 auto;
}

#tutorialContent {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    gap: 10px;
	display: flex;
    flex-direction: column;
}

.content-block {
	display: flex;
    flex-direction: column;
	gap: 25px;
}

.content-block ul {
	list-style: none;
	margin: 0;
}

.content-block li {
	margin: 10px 0;
}

.content-block p {
	margin: 0;
	margin-top: 10px;
}

.controls {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.noteStyle {
	font-style: italic;
}

.clipSpan {
	display: flex;
    flex-direction: column;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.clipRow {
	display: flex;
    flex-direction: row;
	gap: 10px;
	align-items: center;
}

#clipImage {
	height: 100%;
	width: 85px;
	margin-top: 30px;
}

#slideImage {
	height: auto;
	width: 175px;
}

#popImage {
	height: auto;
	width: 175px;
}

#setImage {
	height: auto;
	width: 100%;
}

#tutorialImage {
	height: auto;
	width: 120px;
}

#assistImage {
	height: auto;
	width: 500px;
}

#inDepthTutorial.topLeft {
	top: 175px;
    left: 320px;
}